#productList {
    margin-bottom: 20px;
}

.product-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.product-item button {
    width: auto;
    padding: 5px 10px;
    font-size: 14px;
}

#productFormContainer {
    display: none;
    margin-top: 20px;
}
